.card {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 110vh;
    height: 20vh;
    margin: 2vh auto;
    background-color: #A60303;
    border-radius: 10px;
    position: relative;
}

.card:hover {
    background-color: #bd0404;
    box-shadow: 0 0 10px #000000;   
    color: yellow;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 17vh;
    overflow: hidden;
    border-radius: 5px;
    margin: auto 10px auto 10px ;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    height: 80%;
    color: #000000;
    letter-spacing: 0.9px;
}

.card-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    color: #f4fff8;
    letter-spacing: 0.9px;
}

.rating {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    height: 100%;

}

.card-text {
    font-size: 0.9rem;
    font-family: 'Inter';
    color: white;
    font-weight: bold;
    margin: 0; 
    font-style: uppercase;
}

.card-span {
    font-size: 0.9rem;
    color: white;
    letter-spacing: 0.9px;
    font-weight: normal;
}
