.card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vh;
    height: 200px;
    margin: 0 auto;
    background-color: #A60303;
    border-radius: 10px;
    position: relative;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 70%;
    background-color: black;
    border-radius: 30px;
    margin: auto 20px auto 20px ;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 80%;
    padding: 20px;
    color: #000000;
    margin: auto 0 auto 0;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 10%;
    padding-bottom: 20px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    margin: 0; 
    font-style: uppercase;
}
