.card {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100vh;
    height: 20vh;
    margin: 5vh auto;
    background-color: #A60303;
    border-radius: 10px;
    position: relative;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    background-color: black;
    border-radius: 10px;
    margin: auto 20px auto 20px ;
}



.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 80%;
    color: #000000;
    letter-spacing: 0.9px;
}

.card-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f4fff8;
    letter-spacing: 0.9px;
}

.rating {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    height: 100%;

}

.card-text {
    font-size: 0.9rem;
    font-family: 'Inter';
    color: white;
    font-weight: bold;
    margin: 0; 
    font-style: uppercase;
}

.card-span {
    font-size: 0.8rem;
    color: white;
    letter-spacing: 0.9px;
}