/* Estilos do Container */
.abt-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35vh;
    overflow: hidden;
    border-radius: 1rem;
    border: none;
    background-color: #ffffff00;
}

/* Estilos da Figura */
.abt-fig {
    position: relative;
    width: 100%;
    height: 26rem;
    background-color: #ffffff00;
    object-fit: cover;
    object-position: top;
    filter: grayscale(100%);
    transition: filter 0.5s, transform 0.5s;
}

.abt-fig:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

/* Estilos da Descrição sobreposta */
.abt-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: max-content;
    transform: translateY(50%);
    background-color: #2d2d2d;
    transition: transform 0.5s;
}

.abt-desc:hover {
    transform: translateY(0);
}

/* Estilos da Seção de Títulos */
.abt-titles {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 3rem;
    max-height: 3rem;
    background-color: #2d2d2d;
}

/* Estilos da Descrição de Pessoas */
.ppl-desc {
    display: flex;
    padding: 1rem;
    min-height: 6rem;
    background-color: #2d2d2d;
    overflow: hidden;
}
