.abt-container{
    background-color: #ffffff00;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    border: none;
    width: 35vh;
}

.abt-fig{
    background-color: #ffffff00;
    left: auto;
    right: auto;
    height: 26rem;
    width: 100%;
    filter: grayscale(100%);
    object-fit: cover;
    object-position: top;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;

}

.abt-fig:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
}
.abt-desc{
    background-color: #2d2d2d;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: max-content;
    transform: translateY(50%);
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;

}

.abt-titles{
    display: flex;
    flex-direction: column;
    background-color: #2d2d2d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0;
    min-height: 3rem;
    max-height: 3rem;
    overflow: visible;
}

.ppl-desc{
    display: flex;
    background-color: #2d2d2d;
    padding-bottom: 1vh;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 6rem;
    
}

.abt-desc:hover{
    transform: translateY(0);
}

