:root{
    --main-accent-color: #A60303;
    --secondary-accent-color: #CBCCCC;
    --tertiary-accent-color: #15151E;
    --main-text-color: #120E10;
    --main-bg-color: #E10600;
}  

.navbar{
    background-color: var(--main-bg-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 100%;
    top: 0;
    z-index: 9;
}

.nav-itens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    right: 0;
}

.header-list{
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 5%;
    font-size: 1rem;
    color: #ffffff;
}

.header-list li{
    padding: 2vh;
}

.header-list a{
    text-decoration: none;
    color: #ffffff;
    font-size: 'extra-bold';
}

.header-list a:hover{
    color: #250000;
}

.nav-button{
    position: absolute;
    right: 0;
    background-color: #272727;
    height: 5vh;
    width: 20vh;
    border-radius: 1vh;
    border: none;
    cursor: pointer;
    padding: 2px 2px 2px 2px;
    margin-right: 2.5%;
    display: inline-flex;
    align-items: center;
}

.username{
    color: #f4fff8;
    font-size: 16px;
    margin-left: 10px;
}

.username-icon{
    color: #f4fff8;
    font-size: 16px;
    margin-left: 10px;
    transition: all 200ms ease-in-out;
}

.Menu {
    position: absolute;
    overflow: visible;
    right: 0;
    margin-right: 2.5%;

    list-style-type: none;
    top: 6.5vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 9;

    background-color: #303030;
    border-radius: 5px;
    min-width: 10rem;
}

.Menu-item {
    cursor: pointer;
    font-family: 'Titillium Web';
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;   
}

.Menu-item:hover {
    background-color: #373738;
}

.op-item{
    color: #f4fff8;
    text-decoration: none;
    transition: 0.3s;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
}

.op-item:hover{
    font-size: 1.05rem;
    color: #ffffff;
}

hr{
    width: 80%;
    height: 1px;
    border: none;
    color: #fff;  /* old IE */
    background-color: #fff;  /* Modern Browsers */
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}