*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.navbar {
  display: flex;
  padding: 10px;
  background-color: #333;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    display: block;
    padding: 10px;   
}

#login{
    border-right: 1px solid #fff;
}

.nav-item:hover {
    background-color: #555;
}

.nav-item:hover img {
    background-color: none;
}

.nav-item a{
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}   
