/* Reset padrão para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos da Lista Principal */
.main-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  font-weight: bold;
  font-size: 2.3vh;
  text-transform: uppercase;
  color: #f4fff8;
  letter-spacing: 0.2vh;
}

/* Estilos do Span dentro da Lista Principal */
.main-list span {
  font-weight: 400;
}

/* Container de Conteúdo Geral */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
}

/* Container de Imagem no Conteúdo */
.content-img-container {
  display: flex;
  border: none;
  margin-bottom: 10px;
}

/* Imagem no Conteúdo */
.content-img {
  width: 45vh;
  height: 27vh;
  border-radius: 1vh;
}

/* Estilos da Avaliação com Estrelas */
.star-rating {
  width: 25vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

/* Estilos para as Estrelas (input e label) */
.star-rating input {
  display: none;
}

.star-rating label {
  display: flex;
  font-size: 5vh;
  color: #272727;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Estilos quando a estrela está selecionada ou em foco */
.star-rating input:checked ~ label,
.star-rating input:focus ~ label,
.star-rating label:hover,
.star-rating input:hover ~ label {
  color: #e2bb2f;
}

/* Botão de Reset */
.reset-button {
  display: flex;
  font-size: 1.09rem;
  cursor: pointer;
  color: black;
  background: none;
  border: none;
}
