*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Titillium Web';
    color: #f4fff8;
    letter-spacing: 0.9px;
}

.main-list span{
    font-size: 1.2rem;
    font-weight: 400;
    color: #f4fff8;
    letter-spacing: 0.9px;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 0;
}

.content-img-container{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    background-color: #fff;
    border: none;   
    border-radius: 10px;
    margin-bottom: 10px;
}

.content-img{
    width: 25vh;
    height: 25vh;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}