.abt-body{
    background: linear-gradient(90deg, rgb(40, 46, 51) 0%, rgb(40, 46, 51) 40%, rgba(255,255,255,0) 100%),
                url('../../assets/about-bg.png') center/cover no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.abt-body-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6vh;
}