/* FILEPATH: /c:/Users/Felip/Documents/ppfinal/vite-project/src/styles/auth/homepage.css */

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
}

/* Corpo da página */
.main-body{
    background-color: #22403A;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.main-search{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    overflow: hidden;
}

.main-search input{
    height: 10vh;
    width: 160vh;
    border-radius: 10px;
    border: none;   
    padding: 10px;
    margin: 10px;
    font-size: 1.6rem;
    font-family: 'Titillium Web';
    overflow: hidden;
}

.main-search::placeholder{
    padding-right: 10px;
}

.content{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.content-main{
    height: 40vh;
    width: 180vh;
    border-radius: 10px;
    border: none;   
    padding: 10px;
    margin: 10px;
    background-color: #D9D9D9;
    display: flex;
}

.content-img-container{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-left: 1vh;
}

.content-img{
    width: 35vh;
    height: 35vh;
    border-radius: 10px;
}