/* FILEPATH: /c:/Users/Felip/Documents/ppfinal/vite-project/src/styles/auth/LoginPage.css */

/* Background image */
.page-body{
  background-image: url("https://images.unsplash.com/photo-1522519972666-d8677d9d3e67?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form container */
.form-container {
  display: block;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 500px;
}

/* Form header */
.form-header {
  text-align: left;
  margin-bottom: 20px;
}

.form-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

#f1 {
  height: 2rem;
  width: auto;
}

/* Form fields */
.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-field input[type="text"],
.form-field input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.form-field input:focus {
  outline: 1px solid #000000;
}

/* Form submit button */
.form-submit {
  text-align: center;
}

.form-submit button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-submit button:hover {
  background-color: #cc0000;
}
